---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---

<h1>{{page.title}}</h1>

<!-- Staff -->

<h2><a id="Professor"></a>Professor</h2>
{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}

{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                class="card-img img-responsive img-thumbnail"
                style="filter: max-width: 100px;"/>
            
        </div>
        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            <p class="card-text">{{ member.email }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Students -->

<h2><a id="student"></a>Students</h2>
{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}

<div class="container">
    <div class="row">
        {% for member in members %}
        <div class="col-md-6 mb-4">
            <div class="card team-member-card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                            class="card-img img-responsive img-thumbnail"
                            style="max-width: 100px;"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{ member.title }}</h4>
                            <p class="card-text">{{ member.role }}</p>
                            <p class="card-text">{{ member.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- Alumni -->
 
<h2><a id="alumni"></a>Alumni</h2>
{% assign members = site.posts | where: 'category', 'alumni' | sort: 'date' %}

<div class="container">
    <div class="row">
        {% for member in members %}
        <div class="col-md-6 mb-4">
            <div class="card team-member-card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                            class="card-img img-responsive img-thumbnail"
                            style="max-width: 100px;"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">{{ member.title }}</h4>
                            <p class="card-text">{{ member.role }}</p>
                            <p class="card-text">{{ member.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* 카드 내용이 균등하게 배치되도록 조정 */
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* 카드 자체도 균등하게 높이 맞춤 */
    }
    .card-img {
        width: 100%;
        height: auto; /* 이미지 비율 유지 */
    }
</style>