---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{ page.title }}</h1>

<div class="panel-group" id="accordion">

    <!-- Journal Articles Section -->
    <h2>Journal Articles</h2>
    {% assign journal_articles = site.data.publications | where: "category", "Journal Articles" %}
    {% for publi in journal_articles %}
        <div class="panel-heading">
            <strong>{{ publi.title }}</strong>
        </div>
        <div id="collapse{{ forloop.index }}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>
            </div>
        </div>
    {% endfor %}

    <!-- Conference Papers Section -->
    <h2>Conference</h2>
    {% assign conference_papers = site.data.publications | where: "category", "Conference Papers" %}
    {% for publi in conference_papers %}
        <div class="panel-heading">
            <strong>{{ publi.title }}</strong>
        </div>
        <div id="collapse{{ forloop.index }}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>
            </div>
        </div>
    {% endfor %}

</div>


<!-- <h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    {% for publi in site.data.publications %}
        <div class="panel-heading">
            
            "{{ publi.title }}",
            </a>
        </div>

        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

            </div>
        </div>
    {% endfor %}
    </div>
</div> -->
